#vazo {
  background-image: url(./skl2.jpng.webp);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}
#uuu img {
  width: 100%;
}
#dotty img {
  width: 100%;
}
#new img {
  width: 100%;
}
#dotty {
  background-image: url(./skl2.jpng.webp);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}
#uuu {
  background-image: url(.//skl4.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
#new {
  background-image: url(./skl4.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
#bgb {
  padding-left: 30px;
}
