body{
    display: flex;
    background-image: url(./sek1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding:50px 40px ;
}

#famly{
padding: 50px 100px;
}
#clik{
    padding-left: 100px;
    padding-top: 20px;
    padding-bottom: 25px;
    padding-right: 40px;
}
 #saat{
    background-color: brown;
    color: black;
 }
 #saat:hover{
background-color: aqua;
color: rgb(190, 190, 19);
 }
 .glas{
    background-color: aqua;
    color: blue;
 }
 .glas:hover{
    background-color: darkmagenta;
    color: maroon;
 }
 #sakin{
    outline-style: solid red;
 }
 #clik{
    background-color: rgb(100, 133, 133);
    opacity:0.8;
 }

