* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#continer {
  width: 80%;
  height: 80vh;
  background-color: rgba(220, 225, 203, 0.744);
  display: flex;
  justify-content: space-evenly;
  margin: 50px;
  padding: 10px 60px;
}
.box {
  color: black;
  background-color: brown;
  flex-direction: row;
  margin: 20px;
}
.box1 {
  display: inline-block;
  justify-content: space-between;
  width: 125px;
  height: 150px;
  padding-top: 50px;
  text-align: center;
}
.box2 {
  width: 300px;
  height: 100px;
  padding-top: 20px;
  text-align: center;
}
.box3 {
  display: inline-block;
  justify-content: space-between;
  width: 80px;
  height: 50px;
  padding-top: 20px;
  text-align: center;
}
.box4 {
  width: 300px;
  height: 50px;
  padding-top: 20px;
  text-align: center;
}
.box5 {
  display: inline-block;
  justify-content: space-between;
  width: 80px;
  height: 50px;
  padding-top: 20px;
  text-align: center;
}
.box6 {
  width: 300px;
  height: 150px;
  padding-top: 50px;
  text-align: center;
}
